<div class="main">
  <div class="container">
    <div class="upper-data">
      <div class="search">
        <form #form="ngForm" (submit)="onSubmit()">
          <input
            type="text"
            placeholder="Please enter city name"
            name="city"
            [(ngModel)]="cityName"
          />
        </form>
      </div>
      <img src="assets/weatherImage.jpg" alt="coldImg" *ngIf="!wrongCityName" />
      <img src="assets/sad_emoji.png" alt="sadEmoji" *ngIf="wrongCityName" />
      <div class="weather-data" *ngIf="!wrongCityName">
        <div class="location">{{ weatherData.location.name }}</div>
        <div class="temperature">
          {{ weatherData.current.temp_c }}°C /
          {{ weatherData.current.temp_f }}°F
        </div>
      </div>
    </div>
    <div class="lower-data">
      <div class="more-info-label" *ngIf="!wrongCityName">More Information</div>
      <div class="wrong-information-message" *ngIf="wrongCityName">
        Sorry, but we can't find this place
      </div>
      <div class="more-info-container" *ngIf="!wrongCityName">
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/wind_icon.png" alt="#" />
            <span>Wind speed</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.wind_kph }} km/h /
            {{ weatherData.current.wind_mph }} mi/h
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/humidity_icon.png" alt="#" />
            <span>Humidity</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.current.humidity }}%
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/location_icon.png" alt="#" />
            <span>Country</span>
          </div>
          <div class="info-block-value">{{ weatherData.location.country }}</div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/time_icon.png" alt="#" />
            <span>Local time</span>
          </div>
          <div class="info-block-value">
            {{ weatherData.location.localtime }}
          </div>
        </div>
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/timezone_icon.png" alt="#" />
            <span>Timezone</span>
          </div>
          <div class="info-block-value">{{ weatherData.location.tz_id }}</div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>Wrong information</ng-template>
</div>

<router-outlet></router-outlet>
